@model  SetupRequest
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="text-left">
        <p>
            The application will automate the entire process from: <a href="https://aka.ms/ief">Get started with custom policies in Azure Active Directory B2C.</a>.
        </p>
        <p>Basic operation:</p>
        <ol>
            <li>Enter your B2C domain name</li>
            <li>You will be asked to signin. Make sure to sign in with an account with admin rights to the B2C tenant. <b>At this stage, do not use an MSA
            account to sign in. Use only work/school or local (to the B2C tenant: xyz@tenant.onmicrosoft.com) account.</b></li>
            <li>
                You will be asked to consent to a number of permissions needed to create applications, service principals and security keys in your tenant.
                You will need to consent for the app to complete the setup.
            </li>
            <li>You have the option to remove the Facebook references from the deployment process.
                This will provision the SocialAndLocalAccountsWithMFA starter pack with the User Journeys from the LocalAccount starter pack.</li>
        </ol>
        <form asp-action="Index" asp-controller="Home">
            <label asp-for="DomainName"></label>
            <p><input asp-for="DomainName" placeholder="yourdomain" style="text-align: right" />.onmicrosoft.com</p>
            <p>
                <label asp-for="RemoveFacebookReferences"></label>
                <input asp-for="RemoveFacebookReferences" />
            </p>            
            <input type="submit" />
        </form>
    </div>
