@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application is provided by Microsoft and uses authentication tokens and cookies to execute its functionality against
    your B2C tenant in the context of your user. No data is persisted within this application.</p>
