@model SetupState
@{
    ViewData["Title"] = "Setup results";
}
    <div class="text-left">
        <h2 class="display-4">Setup results</h2>
        <br>
        <h3>To complete the setup</h3>
        <p class="text-justify">
            <ol>
                <li><b>You must click  <a href=@Model.ConsentUrl target="_blank"> this link</a> for the setup to complete</b>. It will provide Admin consent to enable your custom policies. You must login with your Global Administrator account. You will be then redirected to a "Page not found" error once it completes.</li>
                <li><b>You must click  <a href=@Model.AppConsentUrl target="_blank"> this link</a> for the setup to complete</b>. It will provide Admin consent to enable the IEF Test App. You must login with your Global Administrator account. You will be then redirected to a "Page not found" error once it completes.</li>
                <li>You can launch your custom policies from <a href=@Model.LaunchUrl target="_blank"> the Azure Portal</a>. Test a Sign up and Sign In by running the B2C_1A_signup_signin policy. </li>
            </ol>
            You can safely run this setup again if anything has failed in the setup report below.
        </p>

    </div>
    <div class="text-left">
        <hr />
        <h4>Setup Report</h4>
        <table class="table table-responsive table-hover">
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Status</th>
                <th>Reason</th>
            </tr>
            @foreach (var d in Model.Items)
        {
             <tr>
                <td>@d.Name</td>
                <td>@d.Id</td>
                <td>@d.Status</td>
                <td>@d.Reason</td>
             </tr>
        }
        </table>
    </div>

