
@{
    ViewData["Title"] = "Support";
}

<h1>Support</h1>

<p>
    If you have trouble with this application, raise a Github issue <a href="https://github.com/azure-ad-b2c/Scripts/issues"> here</a>.
</p>
