@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application uses authentication tokens and cookies to execute its functionality using
    you B2C tenant. No data is persisted beyond that need.</p>
